body {
  background-color: rgb(255, 255, 255);
  color: rgb(46, 46, 46);
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header {
  display: flex;
  justify-content: space-between;
  width: 710px;
}

.history {
  display: flex;
  justify-content: space-between;
  width: 710px;
  margin-top: 16px;
}

.section {
  width: 710px;
  /* margin-top: 16px; */
}
.fullName {
  text-align: center;
  margin-bottom: 8px;
  margin-top: 8px;
}

.contact {
  display: flex;
  justify-content: space-around;
  width: 506px;
}
.boldspan {
  margin-top: 8px;
  margin-bottom: 8px;
  font-weight: 200;
  border: solid 1px white;
  border-color: transparent;
  border-bottom-color: #545aff;
}

body {
  margin: 0;
  padding: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
  border-spacing: 0px;
}

.line {
  color: rgb(18, 9, 196);
}

@font-face {
  font-family: "Afacad";
  src: url("../../assets/Afacad/static/Afacad-Regular.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../../asset/font/Roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

.company-date {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(0, 13, 255);
}

* {
  font-family: Afacad;
}

.decs {
  line-height: 1.9rem;
  font-size: 18px;
}
